# Production Dependencies
axios
clsx
framer-motion
lucide-react
react
react-dom
react-router-dom
tailwind-merge

# Development Dependencies
@eslint/js
@types/node
@types/react
@types/react-dom
@vitejs/plugin-react
@tailwindcss/postcss
autoprefixer
eslint
eslint-plugin-react-hooks
eslint-plugin-react-refresh
globals
postcss
tailwindcss
typescript
typescript-eslint
vite
